bidict==0.22.1
blinker==1.7.0
click==8.1.7
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
importlib-metadata==7.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mysql==0.0.3
mysqlclient==2.2.1
packaging==23.2
pillow==10.2.0
# psycopg2==2.9.9
psycopg2-binary==2.9.9
PyMySQL==1.1.0
python-dotenv==1.0.1
python-engineio==4.9.0
python-socketio==5.11.1
simple-websocket==1.0.0
SQLAlchemy==2.0.24
typing_extensions==4.9.0
wcwidth==0.2.13
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.1.1
zipp==3.17.0
flask_admin
ipwhois=1.2.0
