{% extends "bbs_app/layout_bbs.html" %}
{% block content %}
    <nav class="nav" style="overflow-y: scroll;">
        <div class="inner">
        <ul>
            <details>
                <summary>
                    <li><i class="fa-solid fa-people-group"></i>WorkSpace&emsp;<i class="fa-solid fa-chevron-down"></i></li>
                </summary>
                <li><button type="button"><i class="fa-solid fa-people-group"></i>{{work_space.ws_name}}</button></li>
                <li><button type="button" id="show_invite_screen"><i class="fa-solid fa-user-plus"></i>WorkSpaceに招待</button></li>
            </details>
            <li><a href="/profile/{{current_user.id}}"><i class="fa-solid fa-user"></i>{{current_user.name}}</a></li>
            <li><a class="add_member_btn"><i class="fa-solid fa-user-group"></i>メンバの追加</a></li>
            <li><a id="notification"><i class="fa-solid fa-gear"></i>通知設定</a></li>
            {% if current_user.is_admin %}
                <li><a href="/bbs_app/{{work_space.ws_name}}/confirm"><i class="fa-solid fa-book"></i>ユーザ確認</a></li>
                <li><a href="/admin"><i class="fa-solid fa-hammer"></i>管理者</a></li>
                <li><a href="/bbs_app/{{work_space.ws_name}}/load_data"><i class="fa-solid fa-download"></i>データのロード</a></li>
            {% endif %}
            <li><a href="/bbs_app/{{work_space.ws_name}}/logout"><i class="fa-solid fa-right-from-bracket"></i>ログアウト</a></li>
        </ul>
        </div>
        <nav class="sp-nav2">
            <div class="inner">
                <p style="margin: 0px;">スレッド</p>
                <ul>
                    {% for ua in user_access %}
                        {% set active_thread="" %}
                        {% if ua.thread_id==thread_id%}
                            {% set active_thread="active" %}
                        {% endif %}
                        {% if ua.thread_id in ws_has_threads %}
                            <li><a href="/bbs_app/bbs/{{work_space.ws_name}}/{{ua.thread_id}}" class="select_thread {{active_thread}}"><i class="fa-solid fa-sitemap"></i>{{ua.threads.thread_name}}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="new"><a class="new_thread"><i class="fa-solid fa-plus"></i>スレッドを作成</a></li>
                    <li class="delete"><a class="delete_thread"><i class="fa-solid fa-trash"></i>スレッドを削除</a></li>
                </ul>
            </div>
        </nav>
    </nav>
    <nav class="nav2">
        <div class="inner">
        <ul>
            {% for ua in user_access %}
                {% set active_thread="" %}
                {% if ua.thread_id==thread_id%}
                    {% set active_thread="active" %}
                {% endif %}
                {% if ua.thread_id in ws_has_threads %}
                    <li><a href="/bbs_app/bbs/{{work_space.ws_name}}/{{ua.thread_id}}" class="select_thread {{active_thread}}"><i class="fa-solid fa-sitemap"></i>{{ua.threads.thread_name}}</a></li>
                {% endif %}
            {% endfor %}
            <li class="new"><a class="new_thread"><i class="fa-solid fa-plus"></i>スレッドを作成</a></li>
            <li class="delete"><a class="delete_thread"><i class="fa-solid fa-trash"></i>スレッドを削除</a></li>
        </ul>
        </div>
    </nav>
    <div class="mask"></div>
    <div class="title-band"></div>
    <div class="openbtn1" style="margin-top:3vh;"><span></span><span></span><span></span></div>
    <div class="title-box"><h1 class="h1-title">{{ title }}</h1></div>
        <div class="row justify-content-center">
            <div class="col-12 custom-col message-view" id="scroller__inner">
                {%for m in messages %}
                    {% set jc="justify-content-start" %}
                    {% set msbox="othre-message-box" %}
                    {% if m.__dict__['user_id']==current_user.id %}
                        {% set jc="justify-content-end" %}
                        {% set msbox="my-message-box" %}
                    {% endif %}
                    <div class="row {{jc}} layer1">
                        <div class="col-9 {{jc}} fix-btn">
                            <p class="{{msbox}} inf-message"><span class="p-msg-name">{{m.users.name}}</span> :
                                {{m.__dict__['sendtime']}}{% if m.user_id==current_user.id%}<span><a href="#">編集</a>&ensp;<a href="#">削除</a></span>{% endif %}</p>
                            {%if m.message_type=="text"%}
                                <div class="small-screen-content close"><!-- スマホ用の画面 -->
                                        {% if messages_count[loop.index0] <=33 %}<p class="{{msbox}}" style="overflow-wrap: break-word; word-wrap: break-word;"><span class="message-box back-color">{{m.__dict__['message']}}</span></p>
                                        {% else %}<p class="{{msbox}} multi-rows " style="overflow-wrap: break-word; word-wrap: break-word;">{{m.__dict__['message']}}</p>
                                        {% endif %}
                                </div>
                                <div class="large-screen-content open"><!-- PC用の画面 -->
                                        {% if messages_count[loop.index0] <=56 %}<p class="{{msbox}}" style="overflow-wrap: break-word; word-wrap: break-word;"><span class="message-box back-color">{{m.__dict__['message']}}</span></p>
                                        {% else %}<p class="{{msbox}} multi-rows " style="overflow-wrap: break-word; word-wrap: break-word;">{{m.__dict__['message']}}</p>
                                        {% endif %}
                                </div>
                            {% else %}
                                <div class="box {{msbox}}">
                                    <div class="img-wrap">
                                        <a href='../bbs_app/bbs/static/send_images/{{m.__dict__["message"]}}' target="_blank"><img src='/bbs_app/bbs/static/send_images/{{m.__dict__["message"]}}' class ='img-msg'  width="400" alt="画像が見つかりませんでした" border="0" ></a>
                                    </div>
                                </div>
                            {% endif %}
                        </div> 
                    </div>
                {% endfor %}
            </div>
            <form action="/bbs/{{work_space.ws_name}}/{{thread_id}}" method="post" class="message-form col-12" enctype="multipart/form-data" id="message-form">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-11 submit-text">
                        <label for="form-image" class="in-line"><i class="fa-regular fa-image select-image-btn fa-lg"></i></label>
                        {{ form.image(class="form-control",id='form-image',accept="image/jpeg, image/png")}}
                        {{ form.message(placeholder="メッセージを入力", class="form-control in-line",id='text_area')}}
                    </div>
                    <div class="col-1">
                        <div class="float-right">
                            <button class="btn btn-primary one-clk-btn" type="button">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <div class="ws-invite">
        <h3>Work Space : {{work_space.ws_name}}に招待</h3>
        <div class="ws_token">
            <button type="button" id="cancel_invite_screen"><i class="fa-solid fa-xmark"></i></button>
            <pre><a href="https://aws-web-app/bbs_app/invite/{{work_space.ws_name}}/{{work_space.ws_token}}" id="invite_link">https://aws-web-app/bbs_app/invite/{{work_space.ws_token}}</a></pre>
            <!-- <pre><a href="http://127.0.0.1:3000/bbs_app/invite/{{work_space.ws_name}}/{{work_space.ws_token}}"></a></pre> -->
            <button type="button" id="linkcpBtn"><i class="fa-solid fa-link"></i> 招待リンクをコピー</button>
        </div>
    </div>
    <form action="{{ url_for('bbs_app.add_member', ws_name=work_space.ws_name, previous_thread = thread_id) }}" method="post" class="add_member">
        {{ new_thread_form.hidden_tag() }}
        <h3>"{{title}}"にメンバを追加する</h3>
        <p>メンバー</p>
        <ul>
            {% for member_form in add_member.member %}
                <li>{{ member_form}} {{ member_form.label }}</li>
            {% endfor %}
        </ul>
        <div style="text-align: right;margin-top:10px;">
            <a class="btn btn-primary btn-sm add_cancel">キャンセル</a>
            <button class="btn btn-primary btn-sm" type="submit">メンバを追加</button>
        </div>
    </form>
    <form action="{{ url_for('bbs_app.new_thread', ws_name=work_space.ws_name, previous_thread = thread_id) }}" method="post" class="make_thread">
        {{ new_thread_form.hidden_tag() }}
        <h3>新しいスレッドを作成する</h3>
        {{ new_thread_form.thread_name.label(class="col-form-label")}}
        {{ new_thread_form.thread_name(placeholder="スレッド名", class="form-control",rows=1)}}
        <br>
        <p>メンバー</p>
        <ul>
            {% for member_form in new_thread_form.new_member %}
                <li>{{ member_form}} {{ member_form.label }}</li>
            {% endfor %}
        </ul>
        <div style="text-align: right;margin-top:10px;">
            <a class="btn btn-primary btn-sm cancel">キャンセル</a>
            <button class="btn btn-primary btn-sm one-clk-btn create-thread" type="submit">スレッドを作成する</button>
        </div>
    </form>
    <form action="{{ url_for('bbs_app.delete_thread', ws_name=work_space.ws_name, delete_thread = thread_id) }}" method="post" class="delete_display">
        {{ delete_form.hidden_tag() }}
        <h3>"{{title}}"を削除しますか?</h3>
        {{ delete_form.radio_field()}}
        <div style="text-align: right;margin-top:10px;">
            <a class="btn btn-primary btn-sm delete_cancel">キャンセル</a>
            <button class="btn btn-primary btn-sm one-clk-btn delete-thread" type="submit">スレッドを削除</button>
    </form>
    <script>
        function scrollbottonm(){
            const scrollerInner = document.getElementById("scroller__inner");
	        scrollerInner.scrollIntoView({block: "end", inline: "nearest"})
        };
        window.onload = function(){
            const scrollerInner = document.getElementById("scroller__inner");
	        scrollerInner.scrollIntoView({block: "end", inline: "nearest"})
        };
        var thread_id = "{{ thread_id }}";
        var current_user = "{{current_user.id}}";
        var textarea = document.getElementById('text_area');
        var content = document.getElementById("scroller__inner");
        var ws_name = "{{ ws_name }}";
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
    <script src="/bbs_app/bbs/static/js/bbs.js"></script>
    <script type="module" src="/bbs_app/bbs/static/js/notification.js"></script>
{% endblock %}