<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bbs/static/css/control.css">
    <link rel="stylesheet" href="bbs/static/css/contents.css">
    <link rel="stylesheet" href="../../static/css/contents.css">
    <link rel="stylesheet" href="../../static/css/control.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="inner">
            <input type="checkbox" id="switch" class="checkbox"checked>
            <label for="switch" class="btn">支出</label>
            <label for="switch" class="btn">収入</label>
        </div>
    </header>
    <div class="contents">
        <div>
            <ul>
                <li>日付</li>
                <li>メモ</li>
                <li>支出</li>
            </ul>
        </div>
        <div>
            <p>カテゴリー</p>
            <div class="categorys">
                <input type="checkbox" id="food" class="checkbox"checked>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <input type="checkbox" id="food" class="checkbox"checked>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">
                            食費
                        </div>
                    </div>
                </label>
            </div>            
        </div>
    </div> 
    <footer>
        <div class="inner">
            <a><i class="fa-solid fa-pencil fa-lg"></i></a>
            <a><i class="fa-solid fa-book-open fa-lg"></i></a>
            <a><i class="fa-solid fa-calendar-days fa-lg"></i></a>
            <a><i class="fa-solid fa-chart-pie fa-lg"></i></a>
            <a><i class="fa-solid fa-ellipsis fa-lg"></i></a>
        </div>
    </footer>
</body>
<style>
    .contents{
        position: fixed;
        top:10vh;
        height:80vh;
        width:100vw;
    }
</style>
</html>