/* .custom-container{
    margin-right: 5px;
} */

.scrollable-container {
    position: relative;
    padding-top: 4vh;
    margin-top: -2%;
    /* min-height: 75vh; */
    height: 75vh;
    margin-bottom: 5px;
    overflow-y: scroll; /* 縦方向のスクロールバーを表示 */
    overflow-x: hidden;
    z-index: 1;
}
.logout-button{
    align-self: center;
}

/* nav */
nav.nav{
    display: block;
    position: fixed;
    background-color: #b2ccd9;
    width: 220px;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 5;
    opacity: 0;
}
.nav.open  {
    left: 0;
    opacity: 1;
}

.nav .inner {
    padding: 25px;
}

.nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav .inner ul li {
    margin: 0;
    border-bottom: 1px solid #333;
    text-align: left;
}

.nav .inner ul li i{
    padding-right: 10px
}

.nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
}

.nav .inner ul li a:hover {
    background: #e4e4e4;
}
.nav .inner ul li a.delete_thread{
    color:rgb(254, 76, 76);
}

/* nav2 */
nav.nav2{
    display: none;
}

/* mask */
.mask {
    display: none;
    transition: all 0.5s;
}

.mask.open{
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 4;
    cursor: pointer;
}

.openbtn1{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#57a2c7;
    cursor: pointer;
        width: 25px;
        height:25px;
    border-radius: 5px;
    left: 92%;
    top: 20px;
    z-index: 3;
}
.openbtn1.active{
    z-index: 5;
}
/*ボタン内側*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 7px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

.openbtn1 span:nth-of-type(1) {
    top:7.5px; 
}

.openbtn1 span:nth-of-type(2) {
    top:11.5px;
}

.openbtn1 span:nth-of-type(3) {
    top:15.5px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 9px;
    left: 8px;
    transform: translateY(3px) rotate(-45deg);
    width: 35%;
}

.openbtn1.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 15px;
    left: 8px;
    transform: translateY(-3px) rotate(45deg);
    width: 35%;
}

/* 新規スレッド */
.make_thread {
    display: none;
    padding: 25px;
    position: fixed;
    background-color: #d7e7f0;
    border-radius: 15px;
    width: 350px;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;
    z-index: 0;
    opacity: 0;
}
.make_thread h3{
    font-size: large;
}

.make_thread.open{ 
    display:block;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    opacity: 1;
}

/* 削除スレッド */
.delete_display {
    display: none;
    padding: 25px;
    position: fixed;
    background-color: #d7e7f0;
    border-radius: 15px;
    width: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;
    z-index: 0;
    opacity: 0;
}
.delete_display h3{
    font-size: large;
}

.delete_display.open{ 
    display:block;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    opacity: 1;
}

form ul{
    overflow: hidden;
}

form.make_thread li{
    list-style: none;
    float: left;
    margin: auto;
    margin-right: 10px;
}

form.delete_display ul li{
    list-style: none;
}

.h1-title{
    top: 30px;
    color:rgb(13, 13, 13);
    display: block;
    position: fixed;
    background-color: #b2ccd9;
    width: 100%;
    margin-top:-50px;
    padding-top:50px;
    padding-bottom: 5px;
    padding-left: 7%;
    font-size:large;
    z-index: 2;
    opacity: 0.9;
}
.p-msg-name{
    color:red;
}
.message-box{
    margin-top: -10px;
    padding: 9px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size:small;
    z-index: 2;
}
.form-control{
    resize: none;
}
.fix-btn span:nth-child(2){
    display: none;
}

.justify-content-end .fix-btn:hover span:nth-child(2){
    position: absolute;
    display: flex;
    right:15px;
    top:15px
}
.justify-content-end .fix-btn:hover .inf-message{
    margin-right: 70px;
}
.inf-message{
    font-size:small;
    margin-top: 15px;
}

/* .othre-message-box{
    margin-bottom: 20px;
} */

.othre-message-box .back-color{
    background-color:#ffe0d1;
    padding: 9px;
}

.my-message-box{
    text-align:end;
}
.my-message-box.inf-message{
    text-align:end;
}
.my-message-box .back-color{
    background-color:#ebffd1;
    padding: 9px;
}

.submit-text{
    padding-right: 10%;
}