{% extends "layout.html" %}
{% block content %}
    <h1>{{ message }}</h1>
    <a href="/login">戻る</a>
    {% for datan in data %}
        {%for d in datan%}
            <div class="card" style="background-color: #b2ccd9;padding:20px;">
                {% for key,value in d.__dict__.items()%}
                    {% if key!='_sa_instance_state' %}
                        <p>{{key}} : {{value}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <br>
    {% endfor %}

{% endblock %}
