{% extends "layout.html" %}
{% block content %}
    <div class="login-body">
        <div class="row message-hedder">
            <div class="col-1"></div>
            <div class="col-8 message-hedder layer2">
                <h1 class="h1-title">{{ title }}</h1>
            </div>
            <div class="col-3 message-hedder layer2"> 
                <div class="card message-hedder" style=" border: none;">
                    <div class="card-body">
                        <a href="/logout" style="margin-right: 10px;">ログアウト</a>
                        {% if current_user<4 %}<a href="/confirm">ユーザ確認</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="bulletin-board">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="scrollable-container">
                        <div id="scroller__inner">
                            {%for m in messages %}
                            {% set jc="justify-content-start" %}
                            {% set msbox="othre-message-box" %}
                            {% if m.__dict__['user_id']==current_user %}
                                {% set jc="justify-content-end" %}
                                {% set msbox="my-message-box" %}
                            {% endif %}
                              <div class="row {{jc}} layer1">
                                <div class="col-6">
                                    <p><span class="p-msg-name">{{m.users.name}}</span> : <!-- {{m.__dict__['user_id']}}  -->
                                    {{m.__dict__['sendtime']}}</p>
                                    <p class="message-box {{msbox}}">{{m.__dict__['message']}}</p>
                                </div> 
                            </div>
                        {% endfor %}
                        </div>
                    </div>
        
                    <form action="/index" method="post">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-11">
                                {{ form.message(placeholder="メッセージを入力", class="form-control")}}
                            </div>
                            <div class="col-1">
                                <div class="float-right">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const scrollerInner = document.getElementById("scroller__inner");
        scrollerInner.scrollIntoView(false);
    </script>
{% endblock %}