{% extends "layout.html" %}
{% block content %}
        <h1 class="text-center h1-title">{{title}}</h1>
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="row justify-content-center">
                <div class="col-6">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-6">
                    {{ form.name.label(class="col-form-label")}}<br>
                    {{ form.name(placeholder="ユーザーネーム", class="form-control")}}
                    <br>
                    {{ form.password.label(class="col-form-label")}}<br>
                    {{ form.password(placeholder="パスワード", class="form-control") }}
                    <br><br>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-primary" href="/signup">新規登録</a>
                <button class="btn btn-primary" type="submit">ログイン</button>
            </div>
        </form>
        <br><br>
        {% if develop: %}
            <div class="text-center">
                <a href="/load_data">データのロード</a>
            </div>
        {% endif %}
{% endblock %}


