{% extends "layout_login.html" %}
{% block content %}
    <h1 class="text-center  h1-login-title">{{title}}</h1>
    <form action="/signup" method="post">
        {{ form.hidden_tag() }}

        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12">
                {{ form.name.label(class="col-form-label")}}<br>
                {{ form.name(placeholder="ユーザーネーム", class="form-control") }}
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.password.label(class="col-form-label")}}<br>
                {{ form.password(placeholder="パスワード", class="form-control")}}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.password_confirm.label(class="col-form-label")}}<br>
                {{ form.password_confirm(placeholder="パスワード", class="form-control")}}
                {% for error in form.password_confirm.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <br><br>
                <div class="text-center">
                    <input class="btn btn-primary one-clk-btn w-100" type="submit" value="登録"><br><br>
                    <a class="btn btn-primary w-100 cancel"href="/">キャンセル</a>
                </div>
            </div>
        </div>
    </form>
    <script src="../static/js/signup.js"></script>
{% endblock %}


