<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="diary/static/css/control.css">
    <link rel="stylesheet" href="diary/static/css/contents.css">
    <link rel="stylesheet" href="../../static/css/contents.css">
    <link rel="stylesheet" href="../../static/css/control.css">
    <script src="diary/static/js/diary.js"></script>
    <script src="../../static/js/diary.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="manifest" href="/diary_app/diary/static/manifest.json">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="inner">
            <input type="checkbox" id="switch" class="checkbox">
            <label for="switch" class="btn">支出</label>
            <label for="switch" class="btn">収入</label>
            <label for="switch" class="btn">貯金</label>
        </div>
    </header>

    <div class="contents_income" id="contents_income">

    </div>
    <footer>
        <div class="inner">
            <a><i class="fa-solid fa-pencil fa-lg"></i></a>
            <a><i class="fa-solid fa-book-open fa-lg"></i></a>
            <a><i class="fa-solid fa-calendar-days fa-lg"></i></a>
            <a><i class="fa-solid fa-chart-pie fa-lg"></i></a>
            <a><i class="fa-solid fa-ellipsis fa-lg"></i></a>
        </div>
    </footer>
</body>
</html>