{% extends "diary_app/layout.html" %}
{% block home %}
    <div class="contents">
        <div class="daily_display">
            <ul>
                <li>日付</li>
                <li>メモ</li>
                <li>支出</li>
            </ul>
        </div>
        <div>
            <p>カテゴリー</p>
            <div class="categorys">
                <input type="checkbox" id="food" class="checkbox"checked>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <div class="card__titletext">食費</div>
                    </div>
                </label>
                <input type="checkbox" id="food" class="checkbox"checked>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-jug-detergent fa-2x"></i>
                        <div class="card__titletext">日用品</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-shirt fa-2x"></i>
                        <div class="card__titletext">衣服</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-wand-magic-sparkles fa-2x"></i>
                        <div class="card__titletext">美容</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-champagne-glasses fa-2x"></i>
                        <div class="card__titletext">交際費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-capsules fa-2x"></i>
                        <div class="card__titletext">医療費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-school fa-2x"></i>
                        <div class="card__titletext">教育費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-faucet-drip fa-2x"></i>
                        <div class="card__titletext">光熱費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-train-subway fa-2x"></i>
                        <div class="card__titletext">交通費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-mobile-screen-button fa-2x"></i>
                        <div class="card__titletext">通信費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <i class="fa-solid fa-solid fa-house fa-2x"></i>
                        <div class="card__titletext">住居費</div>
                    </div>
                </label>
                <label for="food" class="category-btn">
                    <div class="card_inner">
                        <div class="card__titletext">編集・追加</div>
                    </div>
                </label>
            </div>
            <div class="wrap_input_btn">
                <button class="input_btn" type="button">支出を入力する</button>
            </div>            
        </div>
    </div> 
{% endblock %}