  .categorys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .category-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 18vw;
    border-radius: 10%;
    border:0.2px solid black;
    font-size: 1.0rem;
    cursor: pointer;
    user-select: none;
    margin:0px 10px 10px 0px;
  }
  .card_inner{
    text-align: center;
    color: #333;
  }
  .card__titletext{
    font-size: 16px;
    font-weight: bold;
    line-height: 125%;
  }